/*公共活动页样式*/
@charset "utf-8";
// 样式变量/函数
@import '../../common/config';
.banner-box{
	img{
		display:block;
		width:100%;
	}
}
.rule-box{
	font-size:rem(14);
	color:#23A0FF;
	background-color:#FFF;
	a{
		width:rem(150);
		display:block;
		padding:rem(15);
		text-align:center;
		margin:0 auto;
	}
}